<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="apple-touch-icon" href="/netiveUI/resources/img/common/ico_app.png" >
	<link rel="shortcut icon" href="/netiveUI/resources/img/common/ico_favicon.ico"> 

	<title>Netive UI</title>
	<link rel="stylesheet" href="/netiveUI/resources/css/ui.base.css">

	
	<script src="/netiveUI/resources/js/ui.base.js"></script>
	
</head>

<body class="page-form">
	<div class="base-skip" id="baseSkip"></div>
	<div class="base-layer" id="baseLayer"></div>
	<div class="base-wrap" id="baseWrap">
		<header class="base-header" id="baseHeader"></header>
		<main class="base-main" id="baseMain" role="main">
			<div class="base-content" id="baseContent">
				
				<h1 class="h1">animate <span class="ver">v0.1</span><span class="ver-date">2018.03.20</span></h1>
				<p>기본적인 리스트 모음</p>

				<h2 class="h2">animation</h2>
				
				<div class="box-base">
					<div class="box-animate bg-ani">
						<strong>현대카드 X3 Edition</strong>
						<p>쓸수록 커지는 할인카드</p>
					</div>
							
				</div>
			</div>	
		</main>
		<footer class="base-footer" id="baseFooter"></footer>
	</div>

	<script>
	;(function($, win, doc, undefined) {
		$(doc).ready(function(){
			$plugins.page.pageid = "G_01_02_06_00"; 
		});
	})(jQuery, window, document);
	</script>
</body>
</html>
