<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="apple-touch-icon" href="/netiveUIJS/resources/img/common/ico_app.png" >
	<link rel="shortcut icon" href="/netiveUIJS/resources/img/common/ico_favicon.ico"> 

	<title></title>

	<link rel="stylesheet" href="/netiveUIJS/resources/css/ui.base.css">

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<!-- <script src="/netiveUIJS/resources/js/ui.base.js"></script> -->

	<script src="/netiveUIJS/resources/js/ui.global.js"></script>
	<script src="/netiveUIJS/resources/js/ui.plugins.js"></script>
	<script src="/netiveUIJS/resources/js/ui.common.js"></script>

</head>

<body class="page-accordion">
	<div class="base-skip" id="baseSkip"></div>
	<div class="base-layer" id="baseLayer"></div>
	<div class="base-wrap" id="baseWrap">
		<header class="base-header" id="baseHeader"></header>
		<div class="base-body" id="baseBody">
			<aside class="base-aside" id="baseAside"></aside>
			
			<main class="base-main" id="baseMain" role="main">

				<div class="tit-wrap">
					<h1 class="h1" id="uiPageTit">아코디언</h1>
					
				</div>
				<p class="txt-s2">Accordion UI는 한정된 영역에서 컨텐츠의 일부 영역만 노출시키고 다른 영역은 감춘다. <br>
				Tab보다는 의미적으로 더 작은 컨텐츠에 주로 사용되며 목록, 메뉴로도 사용 된다. </p>

				<h2 class="h2">Examples</h2>
				<h3 class="h3">기본</h3>
				<div class="ui-acco" role="group" id="exeAcco1">
					<dl class="ui-acco-wrap">
						<dt class="ui-acco-tit">
							<button type="button" class="ui-acco-btn">아코디언이란? <span class="ui-acco-arrow">열기</span></button>
						</dt>
						<dd class="ui-acco-pnl">
							<p>(accordion, 독일어: <a href="#">Akkodeon</a>, 프랑스어: <a href="#">accordéon</a>, 이탈리아어: <a href="#">fisarmonica</a>, 문화어:손풍금)은 바람통과 리드가 달린 상자형의 악기로, 악기학상으로는 리드 오르간의 일종으로 분류된다.</p>
						</dd>
					</dl>
					<dl class="ui-acco-wrap">
						<dt class="ui-acco-tit">
							<button type="button" class="ui-acco-btn">아코디언 연주법<span class="ui-acco-arrow">열기</span></button>
						</dt>
						<dd class="ui-acco-pnl">
							<p><a href="#">풀무(bellows)</a>로 압축공기를 만들며 금속제의 리드로 발음한다. 이 바람통은 주름상자식이며 연주자는 악기를 밴드로 어깨에 메어 가슴에 안고 주로 왼손으로 바람통을 신축(伸縮)하여서 풀무역할을 시킨다. 리드로 가는 통풍조작은 연주자의 오른손이 닿으며 풀무 옆에 있는 피아노식 건반과 왼손의 단추로 한다. 이러한 방식으로 된 것을 피아노식 아코디언이라고 한다. 오른손의 다섯손가락으로 연주하는 건반은 표준 대형악기로 바음으로부터 가3음까지의 41건이나 실음의 음역은 스톱의 사용으로 고저(高低)로 다시 1옥타브씩 넓어진다. 스톱은 바람통의 양쪽에 있어 단추식과 건반식이 있다.</p>
							<p class="mgt-m">왼손은 바람통을 움직이면서 동시에 엄지손가락 이외의 네 손가락으로 <a href="#">베이스</a>라고 하는 낮은음이나 반주화음의 단추를 조작한다. 단추의 수효는 보통 120개로 6줄로 되어 있으며, 가락과 함께 각 조의 화음이 쉽게 연주되도록 특수한 배열을 하고 있다. 휴대하기에 편리하며 화음반주가 되고, <a href="#">리드 오르간</a>과 같이 풀무는 족답식이 아니어서 셈여림에 의한 미묘한 표현이 가능한 것 등 많은 장점이 있어 대중적인 악기로 보급되어 있으나 예술음악에서는 거의 쓰지 않고 있다. 피아노식 외에 단추식이 있다.</p>
						</dd>
					</dl>
					<dl class="ui-acco-wrap">
						<dt class="ui-acco-tit">
							<button type="button" class="ui-acco-btn">아코디언 역사 <span class="ui-acco-arrow">열기</span></button>
						</dt>
						<dd class="ui-acco-pnl">
							<p>1822년 독일의 프리드리히 부시만(Friedirch Buschmann)이 발명한 것을 첫 아코디언으로 보는 것이 일반적이다. 당초의 아코디언은 온음계식(全音階式)이어서 반음계를 연주할 수 없었고, 이에 따라 연주도 간단하였다. 피아노식은 19세기 후반에 제작되었고 그 뒤 세계적으로 피아노식이 쓰이고 있다.</p>
						</dd>
					</dl>
				</div>
				
				<h3 class="h3">중복</h3>
				<div class="btn-wrap txt-l">
					<button type="button" class="btn-base-s" onclick="$plugins.uiAccordionToggle({ id:'exeAcco2', current: 'all' })"><span>전체열고닫기</span></button>
				</div>
				<div class="ui-acco" role="group" id="exeAcco2">
					<div class="ui-acco-wrap">
						<div class="ui-acco-tit">
							<button type="button" class="ui-acco-btn">아코디언이란?<span class="ui-acco-arrow">열기</span></button>
						</div>
						<div class="ui-acco-pnl">
							<p>(accordion, 독일어: <a href="#">Akkodeon</a>, 프랑스어: <a href="#">accordéon</a>, 이탈리아어: <a href="#">fisarmonica</a>, 문화어:손풍금)은 바람통과 리드가 달린 상자형의 악기로, 악기학상으로는 리드 오르간의 일종으로 분류된다.</p>

							<div class="ui-acco mgt-m" role="group" id="exeAcco3">
								<dl class="ui-acco-wrap">
									<dt class="ui-acco-tit">
										<button type="button" class="ui-acco-btn">아코디언 첫번째 이야기<span class="ui-acco-arrow">열기</span></button>
									</dt>
									<dd class="ui-acco-pnl">
										<p>화음반주 + 건반악기 + 휴대간편 등의 장점으로 대중적으로 보급된 악기이나 역시 제대로 된 악기는 엄청나게 비싸다 그래도 바이올린보다는 낫겠지. 2018년 현재 좀 제대로 해보려는 초보자들에게 많이 추천해주는 리베라 2의 가격이 적어도 80만원... 흡사 하모니카를 여러 대 매달아 놓고 부는 듯 한 소리가 인상적이다.</p>
									</dd>
								</dl>
								<dl class="ui-acco-wrap">
									<dt class="ui-acco-tit">
										<button type="button" class="ui-acco-btn">아코디언 두번째 이야기<span class="ui-acco-arrow">열기</span></button>
									</dt>
									<dd class="ui-acco-pnl">
										<p>한국에서는 과거에 인기 있었으나 2000년대를 넘어서서는 인기가 별로 없는 악기다. 특유의 음색이 정겹기는 하지만 지금 시대에는 왠지 흘러간 음악의 느낌이 물씬 풍겨온다. 가끔가다 역 같은 곳에서 보이는 아코디언 연주자분들은 대부분 나이가 지긋하신 분들로, 트로트나 흘러간 가요등을 아코디언으로 연주한다. 젊은 연주자가 있긴 하지만 크게 인기가 없어서... 북한에서는 꽤 인기가 있는 듯 하다. 평양예술단 같은 경우에는 공연에 아코디언 연주자 이향 씨의 공연이 포함되어 있다.</p>
									</dd>
								</dl>
								<dl class="ui-acco-wrap">
									<dt class="ui-acco-tit">
										<button type="button" class="ui-acco-btn">아코디언 세번째 이야기<span class="ui-acco-arrow">열기</span></button>
									</dt>
									<dd class="ui-acco-pnl">
										<p>국내에서 "제대로" 배우는게 쉽지 않은 악기다. 피아노, 바이올린같은 경우는 전공자에게 배우는게 당연시되지만 국내에는 일단 대학에 아코디언 학과라는 것이 없고 몇몇 실용음악과에서 곁다리로 배우는게 현실이다. 중국이나 러시아에서 (1,2년 연수가 아닌) 전공한 사람이 없는건 아니지만 한손에 꼽을 정도고, 그나마 지방은 그런 기회도 없다. 지방 동호회 문을 두들기는 위키러들은 나이 지긋하신 어르신들이 5,60년대 트로트만 연주하시는 걸 보고 되려 의욕이 감퇴할지도...젊은이가 아코디언을 연주하느냐며 신기해 하시는 반응은 덤이다.</p>
									</dd>
								</dl>
							</div>
						</div>
					</div>
					<div class="ui-acco-wrap">
						<dt class="ui-acco-tit">
							<button type="button" class="ui-acco-btn">아코디언 연주법<span class="ui-acco-arrow">열기</span></button>
						</dt>
						<dd class="ui-acco-pnl">
							<p><a href="#">풀무(bellows)</a>로 압축공기를 만들며 금속제의 리드로 발음한다. 이 바람통은 주름상자식이며 연주자는 악기를 밴드로 어깨에 메어 가슴에 안고 주로 왼손으로 바람통을 신축(伸縮)하여서 풀무역할을 시킨다. 리드로 가는 통풍조작은 연주자의 오른손이 닿으며 풀무 옆에 있는 피아노식 건반과 왼손의 단추로 한다. 이러한 방식으로 된 것을 피아노식 아코디언이라고 한다. 오른손의 다섯손가락으로 연주하는 건반은 표준 대형악기로 바음으로부터 가3음까지의 41건이나 실음의 음역은 스톱의 사용으로 고저(高低)로 다시 1옥타브씩 넓어진다. 스톱은 바람통의 양쪽에 있어 단추식과 건반식이 있다.</p>
							<p class="mgt-m">왼손은 바람통을 움직이면서 동시에 엄지손가락 이외의 네 손가락으로 <a href="#">베이스</a>라고 하는 낮은음이나 반주화음의 단추를 조작한다. 단추의 수효는 보통 120개로 6줄로 되어 있으며, 가락과 함께 각 조의 화음이 쉽게 연주되도록 특수한 배열을 하고 있다. 휴대하기에 편리하며 화음반주가 되고, <a href="#">리드 오르간</a>과 같이 풀무는 족답식이 아니어서 셈여림에 의한 미묘한 표현이 가능한 것 등 많은 장점이 있어 대중적인 악기로 보급되어 있으나 예술음악에서는 거의 쓰지 않고 있다. 피아노식 외에 단추식이 있다.</p>
						</dd>
					</div>
					<div class="ui-acco-wrap">
						<div class="ui-acco-tit">
							<button type="button" class="ui-acco-btn">아코디언 역사<span class="ui-acco-arrow">열기</span></button>
						</div>
						<div class="ui-acco-pnl">
							<p>1822년 독일의 프리드리히 부시만(Friedirch Buschmann)이 발명한 것을 첫 아코디언으로 보는 것이 일반적이다. 당초의 아코디언은 온음계식(全音階式)이어서 반음계를 연주할 수 없었고, 이에 따라 연주도 간단하였다. 피아노식은 19세기 후반에 제작되었고 그 뒤 세계적으로 피아노식이 쓰이고 있다.</p>
						</div>
					</div>
				</div>

				<h3 class="h3">link type 추가</h3>
				<div class="ui-acco" role="group" id="exeAcco4">
					<div class="ui-acco-wrap">
						<div class="ui-acco-tit">
							<button type="button" class="ui-acco-btn">아코디언이란?<span class="ui-acco-arrow">열기</span></button>
						</div>
						<div class="ui-acco-pnl">
							<p>(accordion, 독일어: <a href="#">Akkodeon</a>, 프랑스어: <a href="#">accordéon</a>, 이탈리아어: <a href="#">fisarmonica</a>, 문화어:손풍금)은 바람통과 리드가 달린 상자형의 악기로, 악기학상으로는 리드 오르간의 일종으로 분류된다.</p>
						</div>
					</div>
					<div class="ui-acco-wrap">
						<div class="ui-acco-tit">
							<a href="#" class="ui-acco-btn">아코디언 연주법 링크 바로가기<span class="ui-acco-arrow"></span></a>
						</div>
					</div>
					<div class="ui-acco-wrap">
						<div class="ui-acco-tit">
							<button type="button" class="ui-acco-btn">아코디언 역사<span class="ui-acco-arrow">열기</span></button>
						</div>
						<div class="ui-acco-pnl">
							<p>1822년 독일의 프리드리히 부시만(Friedirch Buschmann)이 발명한 것을 첫 아코디언으로 보는 것이 일반적이다. 당초의 아코디언은 온음계식(全音階式)이어서 반음계를 연주할 수 없었고, 이에 따라 연주도 간단하였다. 피아노식은 19세기 후반에 제작되었고 그 뒤 세계적으로 피아노식이 쓰이고 있다.</p>
						</div>
					</div>
				</div>

				<h3 class="h3">제목 영역과 동작버튼 분리</h3>
				<div class="ui-acco type-b" role="group" id="exeAcco5">
					<div class="ui-acco-wrap">
						<div class="ui-acco-tit">
							<button type="button" class="ui-acco-btn">acco4-1<span class="ui-acco-arrow">열기</span></button>
							
							<input type="checkbox" id="c3_0">
							<label class="lb-check all" for="c3_0"><span>개인(신용)정보 선택 동의</span></label>

						</div>
						<div class="ui-acco-pnl">
							<fieldset role="group">
								<legend>약관동의 선택</legend>
								<input type="checkbox" id="c3_1" checkgroup="c3_0">
								<label class="lb-check" for="c3_1"><span>개인정보 필수적 제공</span></label>
								<br>
								<input type="checkbox" id="c3_2" checkgroup="c3_0">
								<label class="lb-check" for="c3_2"><span>개인(신용)정보 선택적 수집,이용</span></label>
								<br>
								<input type="checkbox" id="c3_3" checkgroup="c3_0">
								<label class="lb-check" for="c3_3"><span>(1)금융거래관련 상품서비스 안내를 위한 수집∙이용</span></label>
								<br>
								<input type="checkbox" id="c3_4" checkgroup="c3_0">
								<label class="lb-check" for="c3_4"><span>(2)기타 부수서비스 안내 등을 위한 수집·이용</span></label>
								<div id="abcd" style="margin:1.0rem 0">
									<input type="checkbox" id="c4_4" disabled="disabled">
									<label class="lb-check" for="c4_4"><span>전화</span></label>
									<input type="checkbox" id="c4_5" disabled="disabled">
									<label class="lb-check" for="c4_5"><span>SMS</span></label>
									<input type="checkbox" id="c4_6" disabled="disabled">
									<label class="lb-check" for="c4_6"><span>이메일/앱 푸쉬</span></label>
									<input type="checkbox" id="c4_7" disabled="disabled">
									<label class="lb-check" for="c4_7"><span>서면</span></label>
								</div>
							</fieldset>
						</div>
					</div>
					<div class="ui-acco-wrap">
						<div class="ui-acco-tit">
							<button type="button" class="ui-acco-btn">acco4-2<span class="ui-acco-arrow">열기</span></button>
							<p class="ui-acco-txt">개인 정보 <a href="#" target="_black" title="새 창 열림">새 창 보기</a></p>
						</div>
						<div class="ui-acco-pnl">
							대략적인 개인 정보 내용.
						</div>
					</div>

				</div>

				<h2 class="h2">HTML Structure</h2>
				<h3 class="h3">basic type</h3>
<div class="box-code">
<pre>
<code>
//dl type
&lt;div <span class="na">class=</span><span class="s">"ui-acco"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">id="</span><span class="s">exeAcco1"</span>&gt;
	&lt;dl <span class="na">class=</span><span class="s">"ui-acco-wrap"</span>&gt;
		&lt;dt <span class="na">class=</span><span class="s">"ui-acco-tit"</span>&gt;
			&lt;button <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"ui-acco-btn"</span>&gt;acco1
				&lt;span <span class="na">class=</span><span class="s">"ui-acco-arrow"</span>&gt;열기&lt;/span&gt;
			&lt;/button&gt;
		&lt;/dt&gt;
		&lt;dd <span class="na">class=</span><span class="s">"ui-acco-pnl"</span>&gt;
			acco1 content
		&lt;/dd&gt;
	&lt;/dl&gt;
	...
&lt;/div&gt;

//ul type
&lt;ul <span class="na">class=</span><span class="s">"ui-acco"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">id="</span><span class="s">exeAcco1"</span>&gt;
	&lt;li <span class="na">class=</span><span class="s">"ui-acco-wrap"</span>&gt;
		&lt;div <span class="na">class=</span><span class="s">"ui-acco-tit"</span>&gt;
			&lt;button <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"ui-acco-btn"</span>&gt;acco1
				&lt;span <span class="na">class=</span><span class="s">"ui-acco-arrow"</span>&gt;열기&lt;/span&gt;
			&lt;/button&gt;
		&lt;/div&gt;
		&lt;div <span class="na">class=</span><span class="s">"ui-acco-pnl"</span>&gt;
			acco1 content
		&lt;/div&gt;
	&lt;/li&gt;
	...
&lt;/ul&gt;

//div type
&lt;div <span class="na">class=</span><span class="s">"ui-acco"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">id="</span><span class="s">exeAcco1"</span>&gt;
	&lt;div <span class="na">class=</span><span class="s">"ui-acco-wrap"</span>&gt;
		&lt;div <span class="na">class=</span><span class="s">"ui-acco-tit"</span>&gt;
			&lt;button <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"ui-acco-btn"</span>&gt;acco1
				&lt;span <span class="na">class=</span><span class="s">"ui-acco-arrow"</span>&gt;열기&lt;/span&gt;
			&lt;/button&gt;
		&lt;/div&gt;
		&lt;div <span class="na">class=</span><span class="s">"ui-acco-pnl"</span>&gt;
			acco1 content
		&lt;/div&gt;
	&lt;/div&gt;
	...
&lt;/div&gt;
</code>
</pre>
</div>
				<h3 class="h3">type-b (제목 영역과 동작버튼 분리)</h3>
<div class="box-code">
<pre>
<code>
&lt;div <span class="na">class=</span><span class="s">"ui-acco <b>type-b</b>"</span> <span class="na">role=</span><span class="s">"group"</span> <span class="na">id="</span><span class="s">exeAcco1"</span>&gt;
	&lt;div <span class="na">class=</span><span class="s">"ui-acco-wrap"</span>&gt;
		&lt;div <span class="na">class=</span><span class="s">"ui-acco-tit"</span>&gt;
			&lt;button <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"ui-acco-btn"</span>&gt;acco1
				&lt;span <span class="na">class=</span><span class="s">"ui-acco-arrow"</span>&gt;열기&lt;/span&gt;
			&lt;/button&gt;
			<b>&lt;p <span class="na">class=</span><span class="s">"ui-acco-txt"</span>&gt;링크 제목2&lt;/p&gt;</b>
		&lt;/div&gt;
		&lt;div <span class="na">class=</span><span class="s">"ui-acco-pnl"</span>&gt;
			acco1 content
		&lt;/div&gt;
	&lt;/div&gt;
	...
&lt;/div&gt;
</code>
</pre>
</div>
				<h2 class="h2">Javascript</h2>
				<h3 class="h3">$plugins.uiAccordion</h3>
<div class="box-code">
<pre>
<code>
$plugins<span class="na">.uiAccordion</span>({ 
	<span class="s">id:'exeAcco1', 
	current:[0,2], 
	autoclose:true, 
	callback:function(v){console.log(v)}</span> 
});
</code>
</pre>
</div>	
				<table class="tbl-base type-option">
					<caption>
						<strong>$plugins.uiAccordion 옵션 설명</strong>
						<p class="ui-caption"></p>
					</caption>
					<colgroup>
						<col class="col-xs">
						<col class="col-xs">
						<col class="col-xs">
						<col class="col-auto">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">옵션명</th>
							<th scope="col">유형</th>
							<th scope="col">기본</th>
							<th scope="col">설명</th>
						</tr>
					</thead>
					<tbody>
						<tr class="nec">
							<th scope="row">id:</th>
							<td>[string]</td>
							<td>'name'</td>
							<td>(필수) ui-acco의 아이디명 기입</td>
						</tr>
						<tr>
							<th scope="row">current:</th>
							<td>[null][array][string]</td>
							<td>null</td>
							<td>처음 열린패널 선택
								<ul>
								<li>null : 모두 닫힘</li>
								<li>'all' : 모두 열림</li>
								<li>[0,1] : 배열으로 열릴패널 선택</li>
								</ul>
							</td>
						</tr>
						<tr>
							<th scope="row">autoclose:</th>
							<td>[boolean]</td>
							<td>false</td>
							<td>주변 패널 상태변화
								<ul>
								<li>true : 선택외의 다른 패널은 닫힘</li>
								<li>false : 변화없음</li>
								</ul>
							</td>
						</tr>
						<tr>
							<th scope="row">callback:</th>
							<td>[function]</td>
							<td>function</td>
							<td>콜백값으로 아이디와 현재선택 index값</td>
						</tr>
					</tbody>
				</table>

				<h3 class="h3">$plugins.uiAccordionToggle</h3>
<div class="box-code">
<pre>
<code>
$plugins<span class="na">.uiAccordionToggle</span>({ <span class="s">
	id:'exeAcco1', 
	current:[0,2], 
	motion:false, 
	state:'open', 
	callback:function(v){console.log(v)}</span> 
});
</code>
</pre>
</div>	
				<table class="tbl-base type-option">
					<caption>
						<strong>$plugins.uiAccordionToggle 옵션 설명</strong>
						<p class="ui-caption"></p>
					</caption>
					<colgroup>
						<col class="col-xs">
						<col class="col-xs">
						<col class="col-xs">
						<col class="col-auto">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">옵션명</th>
							<th scope="col">유형</th>
							<th scope="col">기본</th>
							<th scope="col">설명</th>
						</tr>
					</thead>
					<tbody>
						<tr class="nec">
							<th scope="row">id:</th>
							<td>[string]</td>
							<td>'name'</td>
							<td>(필수) ui-acco의 아이디명 기입</td>
						</tr>
						<tr>
							<th scope="row">current:</th>
							<td>[null][array][string]</td>
							<td>null</td>
							<td>처음 열린패널 선택
								<ul>
								<li>null : 모두 닫힘</li>
								<li>'all' : 모두 열림</li>
								<li>[0,1] : 배열으로 열릴패널 선택</li>
								</ul>
							</td>
						</tr>
						<tr>
							<th scope="row">autoclose:</th>
							<td>[boolean]</td>
							<td>false</td>
							<td>주변 패널 상태변화
								<ul>
								<li>true : 선택외의 다른 패널은 닫힘</li>
								<li>false : 변화없음</li>
								</ul>
							</td>
						</tr>
						<tr>
							<th scope="row">motion:</th>
							<td>[boolean]</td>
							<td>false</td>
							<td>애니메이션 효과
								<ul>
								<li>true : 효과있음</li>
								<li>false : 효과없음</li>
								</ul>
							</td>
						</tr>
						<tr>
							<th scope="row">state:</th>
							<td>[string]</td>
							<td>'toggle'</td>
							<td>상태 설정
								<ul>
								<li>'toggle' : 토글방식</li>
								<li>'open' : 무조건 열림</li>
								<li>'close' : 무조건 닫힘</li>
								</ul>
							</td>
						</tr>
						<tr>
							<th scope="row">callback:</th>
							<td>[function]</td>
							<td>function</td>
							<td>콜백값으로 아이디와 현재선택 index값</td>
						</tr>
					</tbody>
				</table>

				<h3 class="h3">parameter 값으로 아코디언탭 선택방법</h3>
<div class="box-code">
<pre><code>
단일 선택
/netiveUIJS/html/components/accordion.html<span class="s">?acco=1</span> 

복수 선택
/netiveUIJS/html/components/tab.html<span class="s">?acco=exeAcco1*0+exeAcco2*1+exeAcco3*1</span> 
탭아이디*선택+탭아이디*선택....
<span class="s">주의 : tab의 아이디를 '*'이 들어가는 이름으로 설정하면 안된다.</span>

</code>
</pre>
</div>	

			</main>
		</div>
		<footer class="base-footer" id="baseFooter"></footer>
	</div>

	<!-- only page script -->
	<script>
		;(function(win, doc, undefined) {

			console.log('page ready before');
			$plugins.common.pageid = 'G_03_01_00_00';
			$plugins.uiReady({ callback: callbackPage });

			function callbackPage(){
				console.log('callback page');
				$plugins.uiAccordion({ 
					id: 'exeAcco1', 
					current: [0], 
					autoclose: true, 
					callback: function(v){console.log(v)} 
				});
				$plugins.uiAccordion({ 
					id:'exeAcco2', 
					current:[0,1], 
					autoclose:false 
				});
				$plugins.uiAccordion({ 
					id:'exeAcco3', 
					current:'null', 
					autoclose:false 
				});
				$plugins.uiAccordion({ 
					id:'exeAcco4', 
					current:null, 
					autoclose:false 
				});
			}
			
			
			// $plugins.common.pageid = 'G_03_01_00_00';

			// $(doc).ready(function(){
				
			// 	console.log('page ready after');
			// 	$plugins.uiAccordion({ 
			// 		id: 'exeAcco1', 
			// 		current: [0], 
			// 		autoclose: true, 
			// 		callback: function(v){console.log(v)} 
			// 	});
			// 	$plugins.uiAccordion({ 
			// 		id:'exeAcco2', 
			// 		current:[0,1], 
			// 		autoclose:false 
			// 	});
			// 	$plugins.uiAccordion({ 
			// 		id:'exeAcco3', 
			// 		current:'null', 
			// 		autoclose:false 
			// 	});
			// 	$plugins.uiAccordion({ 
			// 		id:'exeAcco4', 
			// 		current:null, 
			// 		autoclose:false 
			// 	});



			// 	$plugins.uiAccordion({ 
			// 		id:'exeAcco5', 
			// 		current:'all', 
			// 		autoclose:false 
			// 	});

			// 	$plugins.uiSelection();
			// 	$plugins.uiSelection({ id:'c3_0', all:true, callback:allCheckCallback });
			// 	$plugins.uiSelection({ id:'c3_4', callback:inpCheckCallback });					
					
			// 	function inpCheckCallback(v){
			// 		if (v.value) {
			// 			$('#abcd input').prop('disabled', false).prop('checked', true).removeAttr('disabled');
			// 			$('#abcd label').removeClass('disabled').addClass('checked');
			// 		} else {
			// 			$('#abcd input').prop('disabled', true).prop('checked', false).attr('disabled');
			// 			$('#abcd label').removeClass('checked').addClass('disabled');
			// 		}
			// 	}
			// 	function allCheckCallback(v){
			// 		v.value 
			// 		? $plugins.uiAccordionToggle({ id:'exeAcco5', current:[0], state:'close' })
			// 		: $plugins.uiAccordionToggle({ id:'exeAcco5', current:[0], state:'open' });
			// 	}

				
			// });
		})(window, document);
	</script>

</body>
</html>
