<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="apple-touch-icon" href="/netiveUIJS/resources/img/common/ico_app.png" >
	<link rel="shortcut icon" href="/netiveUIJS/resources/img/common/ico_favicon.ico"> 

	<title>Netive UI</title>

	<link rel="stylesheet" href="/netiveUIJS/resources/css/ui.base.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/netiveUIJS/resources/js/ui.base.js"></script>
</head>

<body class="page-typography">
	<div class="base-skip" id="baseSkip"></div>
	<div class="base-layer" id="baseLayer"></div>
	<div class="base-wrap" id="baseWrap">
		<header class="base-header" id="baseHeader"></header>
        <div class="base-body" id="baseBody">
			<aside class="base-aside" id="baseAside"></aside>
            <main class="base-main" id="baseMain" role="main">
                <div class="tit-wrap">
					<h1 class="h1" id="uiPageTit">input clear</h1>
				</div>
				<p class="txt-s2">IE에서 input 태그의 text 속성을 가지는 입력폼을 사용하는 경우 자동으로 생성되는 X버튼 기능구현</p>
				

                <h2 class="h2">Examples</h2>
                <div class="in-wrap">
                    <div class="in-item">
                        <input type="text" id="a7" class="inp-base ui-inpcancel" value="" placeholder="입력해주세요">
                    </div>
                    <div class="in-item mgl-s">
                        <input type="text" id="a8" class="inp-base ui-inpcancel" value="아이유" placeholder="입력해주세요">
                    </div>
                </div>

				
				<h2 class="h2">HTML Structure</h2>
<div class="box-code">
<pre>
<code>
<span class="c">//value 값이 없는 경우</span>
&lt;input type="text" id="a7" class="inp-base ui-inpcancel"&gt;

<span class="c">//value 값 입력 시 생성</span>
&lt;input type="text" id="a7" class="inp-base ui-inpcancel" value="test"&gt;
&lt;button type="button" class="ui-btn-cancel" data-id="a7"&gt;&lt;span&gt;입력내용 지우기&lt;/span&gt;&lt;/button&gt;
</code>
</pre>
</div>

				<h2 class="h2">Javascript</h2>
				<h3 class="h3">$plugins.uiInputClear</h3>
<div class="box-code">
<pre>
<code>
$plugins.uiInputClear();
</code>
</pre>
</div>


            </main>
        </div>
		<footer class="base-footer" id="baseFooter"></footer>
	</div>
	
    <!-- only page script -->
	<script>
		;(function($, win, doc, undefined) {
			console.log('page ready before')
			$plugins.common.pageid = 'G_03_09_00_00';

			$(doc).ready(function(){
				
				console.log('page ready after')
				//$plugins.page.inputformat();

                $plugins.uiSelect();

                $plugins.uiInputClear();

			});
		})(jQuery, window, document);
	</script>

</body>
</html>
