<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="apple-touch-icon" href="/netiveUI/resources/img/common/ico_app.png" >
	<link rel="shortcut icon" href="/netiveUI/resources/img/common/ico_favicon.ico"> 

	<title>Netive UI</title>

	<link rel="stylesheet" href="/netiveUI/resources/css/ui.base.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/netiveUI/resources/js/ui.base.js"></script>
</head>

<body class="page-popup">
	<div class="base-skip" id="baseSkip"></div>
	<div class="base-layer" id="baseLayer"></div>
	<div class="base-wrap" id="baseWrap">
		<header class="base-header" id="baseHeader"></header>
		<div class="base-body" id="baseBody">
			<aside class="base-aside" id="baseAside"></aside>
			<main class="base-main" id="baseMain" role="main">
				<div class="tit-wrap">
					<h1 class="h1" id="uiPageTit">popup</h1>
				</div>
				<p class="txt-s2">window popup을 생성할때 사용</p>
				
				<h2 class="h2">Examples</h2>
				<div class="btn-wrap txt-l">
					<a href="http://naver.com" class="btn-base" id="uiPopupA" target="_blank" aria-haspopup="true" title="가이드 새 창 열림" ><span>팝업띄우기</span></a>
					<a href="http://daum.net" class="btn-base" id="uiPopupB" target="_blank" aria-haspopup="true" title="가이드 새 창 열림" data-popname="list"><span>팝업띄우기</span></a>
				</div>

				<h2 class="h2">HTML Structure</h2>
<div class="box-code">
<pre>
<code>
&lt;a href="..." class="btn-base" id="uiPopupA" target="_blank" aria-haspopup="true" title="새 창 열림"&gt;팝업&lt;/a&gt;
</code>
</pre>
</div>	
	
				<h2 class="h2">Javascript</h2>
				<h3 class="h3">$plugins.uiPopup</h3>
<div class="box-code">
<pre>
<code>
$('#uiPopupA').on('click', function(e){
	e.preventDefault()
	$plugins.uiPopup({
		link: this.href,
		name: 'new popup',
		width: 790,
		height: 620,
		align: 'center',
		top: 0,
		left: 0,
		toolbar: 'no',
		location: 'no',
		memubar: 'no',
		status: 'no',
		resizable: 'no',
		scrolbars: 'yes'
	});
});
</code>
</pre>
</div>
			</main>
		</div>
		<footer class="base-footer" id="baseFooter"></footer>
	</div>

	<!-- only page script -->
	<script>
		;(function($, win, doc, undefined) {
			console.log('page ready before')
			$plugins.common.pageid = 'G_03_14_00_00';

			$(doc).ready(function(){
				//$plugins.uiPopup();
				console.log('page ready after')
				$('#uiPopupA').on('click', function(e){
					e.preventDefault();
					$plugins.uiPopup({ link:$(this).attr('href'), width:200  });
				});
				$('#uiPopupB').on('click', function(e){
					e.preventDefault();
					$plugins.uiPopup({ link:$(this).attr('href'), name:'list'  });
				});

			});
		})(jQuery, window, document);
	</script>

</body>
</html>
