<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="apple-touch-icon" href="/netiveUI/resources/img/common/ico_app.png" >
	<link rel="shortcut icon" href="/netiveUI/resources/img/common/ico_favicon.ico"> 

	<title>Netive UI</title>

	<link rel="stylesheet" href="/netiveUI/resources/css/ui.base.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/netiveUI/resources/js/ui.base.js"></script>

    <style>
    .tip-test0{width:250px;}
    .tip-test1{width:100px;}
    </style>
</head>

<body class="page-tooltip">
	<div class="base-skip" id="baseSkip"></div>
	<div class="base-layer" id="baseLayer">
        <div class="ui-tooltip tip-test0" id="tt" role="tooltip" aria-hidden="true">
            <span class="tt-arrow"></span>
            <span>
                <em>국내전용 5,000원</em>(기본연회비 5,000원)<br>
                <em>국내외겸용(UnionPay) 5,000원</em>(기본연회비 5,000원)<br>
                <em>국내외겸용(VISA) 10,000원</em>(기본연회비 5,000원 + 제휴연회비 5,000원)<br>
                <em>가족카드 연회비 없음</em>
            </span>
        </div>
        <div class="ui-tooltip tip-test1" id="tt2" role="tooltip" aria-hidden="true">
            <span class="tt-arrow"></span>
            <span>
                asf asf asf  fasd f asfsadfa sfasf asdf asfdasdfa fdasdf afa sfasf asdf asfdasdfa fdasdf a fasd f asfsadfa sfasf asdf asfdasdfa fdasdf a
            </span>
        </div>

    </div>
	<div class="base-wrap" id="baseWrap">
		<header class="base-header" id="baseHeader"></header>
        <div class="base-body" id="baseBody">
			<aside class="base-aside" id="baseAside"></aside>
            <main class="base-main" id="baseMain" role="main">
                    
                <div class="tit-wrap">
					<h1 class="h1" id="uiPageTit">Dropdown</h1>
				</div>
                <p class="txt-s2">툴팁(말풍선)은 마우스오버나 포커스가 가는 즉시 동작하여 보충설명을 보여준다.<br>
                항상 상위에 보이기 위해(z-index, overflow:hidden) baseLayer 위치에 생성한다.<br>
                기본적으로 자동으로 툴팁 실행위치를 계산하여 더 많은 공간이 있는 위치를 선택하여 보여준다.</p>
                
                <h2 class="h2">Examples</h2>                
                <h3 class="h3">a태그일 경우 기본 스타일</h3>
                <div class="box-base">
                    <p>간략한 설명을 위해 <a href="#tt" aria-describedby="tt" class="ui-tooltip-btn">툴팁</a>기능을 사용합니다.</p>
                </div> 

                <h3 class="h3">button태그일 경우 기본 스타일</h3>
                <div class="box-base">
                    <p>간략한 설명을 위해 툴팁 <button type="button" aria-describedby="tt2" class="ui-tooltip-btn">툴팁 설명</button> 기능을 사용합니다.</p>
                </div>

                <h2 class="h2">HTML Structure</h2>
<div class="box-code">
<pre>
<code>
&lt;div <span class="na">class=</span><span class="s">"base-layer"</span> <span class="na">id=</span><span class="s">"baseLayer"</span>&gt;
    &lt;div <span class="na">class=</span><span class="s">"ui-tooltip"</span> <span class="na">id=</span><span class="s">"tt"</span> <span class="na">role=</span><span class="s">"tooltip"</span> <span class="na">aria-hidden=</span><span class="s">"true"</span>&gt;
        ....
    &lt;/div&gt;
&lt;/div&gt;

&lt;div <span class="na">class=</span><span class="s">"base-wrap"</span>&gt;
    &lt;a <span class="na">href=</span><span class="s">"#tt"</span> <span class="na">aria-describedby=</span><span class="s">"tt"</span> <span class="na">class=</span><span class="s">"ui-tooltip-btn"</span>&gt;툴팁&lt;/a&gt; 
    &lt;button <span class="na">type=</span><span class="s">"button"</span> <span class="na">aria-describedby=</span><span class="s">"tt"</span> <span class="na">class=</span><span class="s">"ui-tooltip-btn"</span>&gt;툴팁&lt;/button&gt; 
&lt;/div&gt;
</code>
</pre>
</div>	
                


                <h2 class="h2">Javascript</h2>
                <h3 class="h3">$plugins.uiTooltip</h3>
<div class="box-code">
<pre>
<code>
$plugins<span class="na">.uiTooltip</span>();
$plugins<span class="na">.uiTooltip</span>({ <span class="s">id:'tt', visible:true</span> });
$plugins<span class="na">.uiTooltip</span>({ <span class="s">id:'tt', visible:false</span> });
</code>
</pre>
</div>

            </main>
        </div>
		<footer class="base-footer" id="baseFooter"></footer>
	</div>

    <!-- only page script -->
	<script>
		;(function($, win, doc, undefined) {
			console.log('page ready before');
			$plugins.common.pageid = 'G_03_22_00_00';

			$(doc).ready(function(){
				
				console.log('page ready after')
				$plugins.page.tooltip();

			});
		})(jQuery, window, document);
	</script>

</body>
</html>
